/* General Styles */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-main {
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    background-color: #000000;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: #000000;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-store{
    display: flex;
    justify-content: center;

}


#active {
    border-bottom: 2px solid #a81515;
}

#active-mobile {
    color: #ad0000;
}

/* Header */
.header-logo {
    width: 10rem;
}

.nav-neon {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.link-home:hover {
    transition: 0.5s ease-in-out;
    border-bottom: 2px solid #a81515;
}

.nav-neumporphism {
    background: rgba(0, 0, 0, 0.46);
    border-radius: 26px;
    border: 2px solid rgba(255, 0, 34, 0.534);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.btn-login {
    --glow-color: rgb(255, 0, 34, 0.534);
    --glow-spread-color: rgba(126, 5, 5, 0.781);
    --btn-color: rgb(0, 0, 0);
    border: .02em solid var(--glow-color);
    padding: 0.7em 1em;
    color: white;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    border: 2px solid rgba(255, 0, 34, 0.534);
    text-shadow: 0 0 .1em var(--glow-color);
    transition: all 0.3s;
}

.btn-login:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 1em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.btn-login:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

#mySidebar{
    display: flex;
    flex-direction: column;
}

#mySidebar .nav{
    font-family: 'Rubik', sans-serif !important;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


/* Main */
main {
    min-height: 40vh;
}

::placeholder {
    color: blue;
    font-size: 1.5em;
}
.article-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.7rem;
    align-items: center;
}

.article-home {
    width: 85%;
    display: flex;
    background: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 2px solid rgba(255, 0, 34, 0.534);
    z-index: 0 !important;
}

.aside-home {
    width: 64%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 2px solid rgba(255, 0, 34, 0.534);
    border-radius: 10px !important;
}


.aside-home .nav-link {
    font-family: 'Rubik', sans-serif;
    color: whitesmoke;
    transition: 0.4s;
}

.aside-home a:hover {
    color:  rgba(255, 0, 34, 0.534);
    transition: 0.4s;
}

.search{
    background: rgba(255, 255, 255, 0.322);
    border: 1px solid #a81515;
    border-radius: 10px;
    width: 17rem;
    height: 2.5em;
}

@media (max-width: 900px) {
    .buton-aside {
        margin-right: 3rem !important;
    }
    .search {
        width: 10rem;
        margin-left: 1px !important;
        margin-right: 1rem !important;
    }
}

.buton-aside{
    background-color: black;
    color: white;
    width: 4rem;
    height: 3rem;
    border-radius: 1em;
    border: 2px solid rgba(255, 0, 34, 0.534);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.dropdown-menu{
    z-index: 4 !important;
}

.card {
    padding-bottom: 1rem;
    width: 29rem;
    height: 39.5rem;
    padding: .8em;
        background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-color: rgba(255, 0, 34, 0.534);
    overflow: visible;
}

.card-img {
    width: 110%;
    border-radius: 1.5rem;
    transition: .3s ease;
}

.card-info {
    padding-top: 10%;
}

.svg-icon {
    color: white;
    width: 40px;
    height: 40px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 0, 34, 0.534);
}

.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: 1.2em;
    padding-bottom: 10px;
}

.card-button {
    border: 1px solid #fd0303;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .1s ease-in-out;
    background-color: #000000;
}

.card-img:hover {
    transform: translateY(-15%);
}

.card-button:hover {
    border: 3px solid #e90404;
}

/* Footer */
.footer-home {
    width: 85vw;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgba(255, 0, 34, 0.534);
}

.sidebar .closebtn {
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.image-navbar {
    width: 10rem !important;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    box-shadow: 1px 1px 40px -5px rgba(255, 0, 34, 0.534);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.hr-footer {
    border: 1.6px solid rgb(255, 3, 36);
    width: 80vw;
    margin: 0 auto;
    margin-top: 1rem;
}

@media (max-width: 900px) {
    .hr-footer {
        width: 60vw;
    }

}

.text-footer {
    font-size: 0.8rem;
}

.icon-contact {
    width: 3rem;
}

.icon-contact:hover {
    transform: translateY(20%);
    transition: 1s;
}

.icon-footer {
    width: 7rem;
    margin-bottom: 0.3rem;
}

.icon-hover:hover {
    transform: translateY(20%);
    transition: 1.5s;
}

.icons {
    width: 2rem;
}

.btn-login-mb {
    height: 3rem;
    padding-bottom: 0;
}
@media (max-width: 450px) {


.card {
    padding-bottom: 1rem;
    width: 290px;
    height: 32.5rem;
    padding: .8em;
        background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-color: rgba(255, 0, 34, 0.534);
    overflow: visible;
}
}

@media (max-width: 900px) {

    .nav-neumporphism > div {
        flex-direction: column;
    }
    .nav-neumporphism > div > div {
        flex-direction: column;
        text-align: center;
    }
    .nav-home {
        display: none !important;
    }

    .main-store{
        flex-direction: column;
        align-items: center;
    }

    .aside-home {
        width: 90%;
    }

    .article-div{
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
    }
    
    .article-home {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .nav-home {
        display: none !important;
    }
    .nav-neumporphism > div {
        flex-direction: column;
    }
    .nav-neumporphism > div > div {
        flex-direction: column;
        text-align: center;
    }
    .nav-footer {
        display: none !important;
    }
    .text-footer-h {
        display: none !important;
    }
    .text-call {
        margin-top: 1.5rem;
        margin-left: 1.5rem;
    }
    .footer-terms {
        flex-direction: column;
        align-items: center;
    }
    .hr-footer {
        margin-top: 0.2rem;
    }
    .icon-footer {
        padding-top: 0 !important;
        padding-left: 0 !important;
    }
    .hr-article {
        width: 50vw;
    }
}

@media (min-width: 900px) {
    .btn-login-hide {
        display: none !important;
    } 
    .sidebar {
        display: none !important;
    }

    .openbtn {
        display: none !important;
    }

}

.swal2-styled.swal2-confirm.swalBtnColor {
    height: 4rem;
    width: 4rem;
    font-weight: bold;
    background-color: #a81515;
}

.description-card {
    height: 8rem;
}

.swal2-success-circular-line-right, .swal2-success-circular-line-left, .swal2-success-fix{
    display: none !important;
}

.my-swal {
    width: 50vw;
    border: 2px solid rgba(255, 0, 34, 0.534);
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}

@media (max-width: 1200px) {
    .card {
        width: 20rem;
        height: 35rem;
    }
    .card-img {
        width: 110%;
    }
    .video-card {
        height: 9rem;
        width: 90vw;
    }
}

@media (max-width: 1600px) {
    .my-swal {
        width: 70vw;
    }
    .div-card {
        width: 60vw;
    }
}

.div-home {
    border: 2px solid rgba(255, 0, 34, 0.534);
    border-radius: 15px;
    background-image: url(../img/bloquote_store.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    height: 18rem;
    width: 84vw;
    margin-top: 3rem;
}

@media (max-width: 900px) {
    .div-home {
        width: 90vw;
        padding-bottom: 3rem;
        height: 10rem !important;
    }
}

.btn-select {
    width: 166px;
}