<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="app" class="d-flex flex-column align-items-center">
        <button @click="logout" class="align-self-end mx-5 mt-3">log out</button>
        <div class="clientManager">
            
            
            
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create new admin</h1>

                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body d-flex flex-column gap-3">
                                    <input type="text" placeholder="First name" v-model="firstName">
                                    <input type="text" placeholder="Last name" v-model="lastName">
                                    <input type="text" placeholder="Email" v-model="email">
                                    <input type="password" placeholder="password" v-model="password" >
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" @click="createAdmin">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
            <h1>Admin manager</h1>
            <button class="align-self-center mb-5" data-bs-toggle="modal"
            data-bs-target="#exampleModal4">Create new admin</button>
            <div class="addClients col-5">
                <h2 class="text-center">New game</h2>
                <form @submit.prevent="addClient">
                    <div class="mb-3">
                        <h5>Game name</h5>
                        <input type="text" class="w-100 p-2" v-model="gameName">
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>Detailed description</h5>
                        <textarea name="desc" cols="60" rows="5" v-model="longDesc"></textarea>
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>Short description</h5>
                        <textarea name="desc" cols="60" rows="3" v-model="shortDesc"></textarea>
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>Minimum requirements</h5>
                        <textarea name="desc" cols="60" rows="3" v-model="minimumReq"></textarea>
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>Recomended requirements</h5>
                        <textarea name="desc" cols="60" rows="3" v-model="recommendedReq"></textarea>
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>Header image</h5>
                        <input type="text" class="w-100 p-2" v-model="headerImage">
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>Website</h5>
                        <input type="text" class="w-100 p-2" v-model="website">
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>Background</h5>
                        <input type="text" class="w-100 p-2" v-model="background">
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>Raw Background</h5>
                        <input type="text" class="w-100 p-2" v-model="rawBackground">
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>price</h5>
                        <input type="text" class="w-50 p-2" v-model="price">
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>Discount</h5>
                        <input type="text" class="w-50 p-2" v-model="discount">
                    </div>
                    <div class="mb-3 mt-5">
                        <h5>Stock</h5>
                        <input type="text" class="w-100 p-2" v-model="stock">
                    </div>
                    <div class="mb-3 mt-5 d-flex flex-column gap-3">
                        <h5>Screnshots</h5>
                        <label for="input1">Screnshot 1</label>
                        <input type="text" class="w-100 p-2" id="input1" v-model="screenshot1">
                        <label for="input2">Screnshot 2</label>
                        <input type="text" class="w-100 p-2" id="input2" v-model="screenshot2">
                    </div>
                    <div class="mb-3 mt-5 d-flex flex-column gap-3">
                        <h5>Trailers</h5>
                        <label for="input3">Trailer 1</label>
                        <input type="text" class="w-100 p-2" id="input3" v-model="trailer1">
                        <label for="input4">Trailer 2</label>
                        <input type="text" class="w-100 p-2" id="input4" v-model="trailer2">
                    </div>
                    <div class="mb-5 mt-5">
                        <h5>Genre/s</h5>
                        <div v-for="genre of genres" class="form-check">
                            <input class="form-check-input" type="checkbox" :value="genre.id" v-model="checkedGenres">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{genre.genreName}}
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn addClient" @click.prevent="addProduct">Add game</button>
                </form>
            </div>
            <div class="manageClients">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Game name</th>
                                <th scope="col">Available stock</th>
                                <th scope="col">Add units</th>
                                <th scope="col">Remove units</th>
                            </tr>
                        </thead>
                        <tbody>
                            <h2 class="text-center mt-5 mb-5">Manage game stock</h2>
                            <tr v-for="game of games">
                                <td>{{game.gameName}}</td>
                                <td>{{game.stock}}</td>
                                <td class="btn-group">
                                    <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                                        @click="showModal(game.id)">add</button>
                                </td>

                                <td class="btn-group"><button @click="showModal(game.id)" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal2">remove</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel2"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add game units</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" placeholder="units" v-model="quantity">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" @click="addUnits">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Remove game units</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" placeholder="units" v-model="quantity">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" @click="removeUnits">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="text-center mt-5 mb-5">Manage genres</h2>
                <h5>Genres:</h5>
                <ul>
                    <li v-for="genre of genres">{{genre.genreName}}</li>
                </ul>
                <button class="mb-5" data-bs-toggle="modal"
                data-bs-target="#exampleModal3">Add new genre</button>
                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add game units</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" placeholder="genre name" v-model="genreName">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" @click="addGenre">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./index.js"></script>
</body>

</html>